body {
  margin: 0;
  padding: none;
  background-color: #282c34;
}
/* logo properties */
img {
  width: 10%;
  height: 10%;
  transition: 0.5s;
  border-radius: 50%;
}
img:hover {
    border-radius: 45%;
}
/* Myra header properties */
.header {
  font-size: 250%;
  color: white;
  font-family: 'Amatic SC', cursive;
}
